h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 210601023-02. Aplicar procesos y procedimientos organizacionales según normatividad.