.container
    .header-ecored
        h1 2. Planeación, seguimiento y comunicación en la organización
    .jumbotron.bg-white
        .sub-ecored#11.mt-5
            h2 2.1 Planes de trabajo en la organización 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img13.jpg", alt="").img-fluid
        p.mt-5 A partir del diagnóstico organizacional y operativo se establecen las bases para formular el plan de trabajo que conduzcan al mejoramiento de la organización.  
        p Para el logro de este objetivo el proceso de planeación es fundamental puesto que permite dar un horizonte de tiempo a las actividades programadas para la consecución de los objetivos proyectados. Además, permite identificar quienes pueden ser los responsables de su ejecución y los recursos (financieros, logísticos, infraestructura) que serán requeridos para materializar las metas establecidas para el corto, mediano o largo plazo y que pueden estar relacionadas con el área operativa, administrativa, financiera y comercial. 
        p La formulación de un plan de trabajo adecuado a la capacidad de la organización puede concretarse mediante la formulación de un proyecto o específicamente por medio de un cronograma de actividades, esto puede variar dependiendo de la autogestión de los integrantes de la junta administradora del acueducto y de los mismos beneficiarios del sistema. 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img14.jpg", alt="").img-fluid
        p.mt-5 Según la normatividad relacionada con el mejoramiento de los sistemas de acueducto de municipios menores y zonas rurales, se da la posibilidad de fortalecer el proceso de gestión y obtención de recursos del orden regional y nacional buscando con ello mejorar la calidad del servicio y el bienestar de la población.
        p A continuación, se relaciona la estructura de un plan de trabajo que puede orientar los procesos de la organización con base a sus objetivos y la capacidad en el corto, mediano y largo plazo. No obstante, este puede variar y ser ajustado de acuerdo con los criterios y requerimientos de la prestación del servicio de acueducto.
        p En este modelo encuentra una columna con las áreas funcionales de los acueductos de municipios menores y zonas rurales, para cada una de áreas donde se indican las actividades con el tiempo programado, estipulado en semanas, su respectivo responsable, recursos requeridos y la inversión presupuestal. 
        a(href="media/documentos/A2_Plan_de_trabajo.xlsx" target="_blank").media-link      
            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
            .media-link-title
                p #[strong Anexo 2]. Plan de trabajo
        p.mt-5 La elaboración de planes de acción es un proceso que no termina cuando se adopta el plan, sino que este tiene que ser implementado, controlado y evaluado, para cumplir las estrategias planeadas. 
        p La manera más práctica para estructurar un plan de acción es la que se sugiere a continuación: 
        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img15.svg").img-fluid
                        p.card__copy 
                            span 
                                |  Elaborar por escrito un resumen del objetivo de la estrategia seleccionada y de las metas que se deben alcanzar. 
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img16.svg").img-fluid
                        p.card__copy
                            span 
                                |  Elaborar una lista de todas las actividades que pueden ser necesarias, útiles o convenientes. Esta lista preliminar no necesariamente debe tener algún orden específico. 
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img17.svg").img-fluid
                        p.card__copy
                            span 
                                |  Eliminar de la lista preliminar las actividades que, por motivos comprobables, se decida no realizar. Se recomienda mantener, por el momento, las actividades sobre las que no se haya tomado una decisión definitiva. 
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img18.svg").img-fluid
                        p.card__copy
                            span 
                                |  Establecer las prioridades entre las distintas actividades, es decir, indicar las actividades que deben realizarse antes que otras, ya que algunas de estas dependen de la realización de tareas previas (Rodríguez, 2017). 
        p.mt-5 Otra manera de definir un plan de trabajo corresponde a la ruta que se genera durante la formulación de un proyecto, el cual atiende a la necesidad de solucionar una situación problemática o potenciar una fortaleza identificada al interior de la organización y busca generalmente articular diferentes actores (internos y externos) para su ejecución. 
        p En esta misma medida la planeación es fundamental para la materialización de lo proyectado y el seguimiento a los resultados permitiendo que estos permanezcan en el tiempo, es decir se conviertan en proyectos sostenibles o que el propósito para el que fueron formulados finalmente se concrete.  Los proyectos tienen un horizonte de tiempo regularmente de mediano y largo plazo. 
        p Mille (2004) determina algunas preguntas preliminares para la elaboración de un proyecto: 
        .row.justify-content-center.mt-5
            .col-10
                .hr1
                .list.mt-5.ml-5
                    .list__item
                        .list__item__number
                            span 1.
                    .list__txt 
                        p  ¿Qué se quiere hacer? (debe conocer la naturaleza del proyecto).
                .hr1
                .list.mt-5.ml-5
                    .list__item
                        .list__item__number
                            span 2.
                    .list__txt 
                        p  ¿Por qué se quiere hacer? (debe conocer el origen y fundamentación del proyecto).
                .hr1
                .list.mt-5.ml-5
                    .list__item
                        .list__item__number
                            span 3.
                    .list__txt 
                        p  ¿Para qué se quiere hacer? (debe conocer los objetivos y propósitos que persigue el proyecto).
                .hr1
                .list.mt-5.ml-5
                    .list__item
                        .list__item__number
                            span 4.
                    .list__txt 
                        p  ¿Cuánto se quiere hacer? (relaciona cuantitativamente la materialización de los objetivos).
                .hr1
                .list.mt-5.ml-5
                    .list__item
                        .list__item__number
                            span 5.
                    .list__txt 
                        p  ¿Dónde se quiere hacer? (se debe indicar la localización física). 
                .hr1
                .list.mt-5.ml-5
                    .list__item
                        .list__item__number
                            span 6.
                    .list__txt 
                        p  ¿Cómo se va a hacer? (relacionar las actividades y tareas que permitan el logro del objetivo).
                .hr1
                .list.mt-5.ml-5
                    .list__item
                        .list__item__number
                            span 7.
                    .list__txt 
                        p  ¿Cuándo se va a hacer? (se debe tener un cronograma de ejecución, esto incluye actividades y tiempos).
                .hr1
                .list.mt-5.ml-5
                    .list__item
                        .list__item__number
                            span 8.
                    .list__txt 
                        p  ¿A quiénes va dirigido? (describe quienes serán los beneficiarios del proyecto).
                .hr1
                .list.mt-5.ml-5
                    .list__item
                        .list__item__number
                            span 9.
                    .list__txt 
                        p  ¿Quiénes lo van a hacer? (está integrado por el personal externo y comunidad beneficiada, que constituyen los recursos humanos que ponen en marcha el proyecto).
                .hr1
                .list.mt-5.ml-5
                    .list__item
                        .list__item__number
                            span 10.
                    .list__txt 
                        p  ¿Con qué se va a hacer? (se requiere la gestión del representante legal para obtener recursos de contrapartida, así como el apoyo de otras entidades, y la misma comunidad para el logro del proyecto. Esto constituye los recursos requeridos). 
                .hr1
        .row.justify-content-center.align-items-center.mt-5
            .col-8.gris
                p Si desea ampliar información sobre la formulación de básica de proyectos se recomienda revisar en contenido descargable.                
                a(href="media/documentos/A3_Formulacion_de_proyectos.docx" target="_blank").media-link      
                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                    .media-link-title
                        p #[strong Anexo 3]. Formulación de proyectos
        .sub-ecored#12.mt-5
            h2 2.2 Seguimiento, monitoreo y canales de comunicación en la organización
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img19.jpg", alt="").img-fluid
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img20.svg", alt="").img-fluid 
        p.mt-5 Los procesos de seguimiento y monitoreo en una organización son indispensables con el propósito de mantener y controlar de manera específica cada una de las actividades que se tienen establecidas para cumplir a cabalidad con los requerimientos internos y externos.
        p Teniendo como base el organigrama establecido en la empresa, se identifican una serie de funciones que a su vez guardan relación con las áreas y procesos que permiten el logro de los objetivos propuestos. 
        p Un aspecto importante al seguimiento y monitoreo es la gestión documental, de las áreas operativas, administrativa, contable y comercial, entre otras que se tengan definidas, puesto que permite evaluar los procesos que se están ejecutando o los que han finalizado, siendo además el registro ordenado para cuando sea requerida su consulta. Incluso es posible verificar el grado de avance en las metas, además de ser este un requisito que debe de tenerse disponible para presentar a las partes interesadas de la organización sea esta una autoridad ambiental, institucional, ente de control, usuario o suscriptor. Para ello, la organización debe implementar canales adecuados de comunicación tanto internos como externos ofreciendo de manera oportuna una mejor calidad del servicio.  
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img21.jpg", alt="").img-fluid       
        p.mt-5 De otra parte, el monitoreo de impacto incluye la evaluación de los avances respecto al impacto esperado dentro del grupo meta. Un sistema de monitoreo es un proceso continuo y sistemático que mide el progreso de un conjunto de actividades en un período de tiempo. Es un mecanismo para dar seguimiento a las acciones y comprobar en qué medida se cumplen las metas propuestas. Es una herramienta de la evaluación que no sólo mide ejecuciones también revisa y da señales de advertencia sobre actividades problemáticas que no funcionan de acuerdo con lo planificado.
        p En el monitoreo se buscan las razones de las fallas comprobadas, con el objetivo de encontrar alternativas de solución. También pone énfasis en los aspectos considerados como positivos, reporta logros para que las prácticas exitosas puedan ser replicadas y las erróneas revisadas. El monitoreo nos reporta información sobre el nivel de eficiencia alcanzado por la organización o el proyecto (Van de Velde, 2009).
        p Así también, el monitoreo permite rendir cuentas, comunicando a los actores a los que concierne el funcionamiento de la organización el avance hacia las metas propuestas, describiendo los resultados como las dificultades. Estos actores pueden ser representantes del Estado, colectividades locales, representantes de organizaciones de la sociedad civil, grupos de la población, niños u organizaciones internacionales, así como donantes de fondos (Terre des Hommes, s.f.).
        h2.naranja.mt-5 El monitoreo en la organización 
        p.mt-3 El monitoreo debe abarcar todos los componentes de la organización lo cual contribuye a alcanzar los resultados esperados:
        .row.justify-content-center.align-items-center.mt-5
            .col-3.sup-1
                img.img-a(src="assets/images/pages/ilustraciones/img22.svg").img-fluid 
            .col-3.sup-1
                img.img-a(src="assets/images/pages/ilustraciones/img23.svg").img-fluid 
            .col-3.sup-1
                img.img-a(src="assets/images/pages/ilustraciones/img24.svg").img-fluid                                 
        .row.justify-content-center.align-items-stretch
            .col-3.mx-2.pt-6.px-4.pb-4.text-card-1     
                h2.text-center.mt-3 A nivel operativo 
                .hr1
                p.mt-3 Los recursos humanos, financieros, organizacionales y materiales; las actividades y los resultados directos de esas actividades, y el recurso agua.        
            .col-3.mx-2.pt-6.px-4.pb-4.text-card-1     
                h2.text-center.mt-3 A nivel estratégico 
                .hr1
                p.mt-3 El objetivo del proyecto, los resultados intermedios y finales, las hipótesis que subyacen a la estrategia del proyecto.                
            .col-3.mx-2.pt-6.px-4.pb-4.text-card-1     
                h2.text-center.mt-3 El contexto  
                .hr1
                p.mt-3 Los actores clave, implicados directa o indirectamente; el contexto en sus diferentes dimensiones sociales, económicas, políticas y medioambientales que pueden influir positiva o negativamente.
        h2.naranja.mt-5 Comunicación
        p.mt-3 Habitualmente las asociaciones de acueductos comunitarios tienen canales de comunicación utilizados según la población beneficiaria del servicio; la gestión por parte de la junta administradora relacionada con la convocatoria a reuniones ordinarias y la participación de los usuarios en las asambleas de la organización es fundamental para la toma de decisiones, establecimiento de acuerdo y actualización de información. 
        p Además, se establecen canales de comunicación de carácter externo con entidades tales como: 
        .caja1-azul
            .list.mt-3.ml-3
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="")
                .list__txt 
                    p Las entidades del sector (alcaldía, otras empresas u organizaciones prestadoras de servicios, agremiaciones de acueductos).
            .list.ml-3
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="")
                .list__txt 
                    p Entes de control (Corporación autónoma regional, Ministerio de Ambiente, SSPD, Ministerio de Salud y Protección Social, Secretaría de salud municipal y departamental).
        p.mt-5 Por otro lado, es necesario dimensionar la comunicación como un proceso transversal en la organización, es por esto que, incluso la reflexión crítica debe estar prevista desde el diseño del sistema de seguimiento; de manera que proporcione los momentos y los medios que permitan compartir la información, darse el tiempo de reflexionar y de extraer lecciones.
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img25.jpg", alt="").img-fluid  
        p.mt-5 Asimismo, el monitoreo por su parte moviliza métodos y herramientas muy diversas. Se apoya en métodos de recolección, de tratamiento y de análisis de la información, a los que se agregan procesos de comunicación, de debate de la información entre los diferentes actores involucrados, así como de modalidades de toma de decisión.
        p En el caso de la ejecución de actividades por parte de los encargados del acueducto, la comunicación de resultados a los actores involucrados es esencial ya que permite una reflexión crítica conjunta, y su documentación y transmisión posterior en forma definitiva.
        p Finalmente, cabe destacar que la comunicación entre los actores del servicio de acueducto debe tener claridad y ser bidireccional en la medida que permite el cumplimiento de requisitos, requerimientos para el mejoramiento de la prestación del servicio en términos de calidad, cobertura, cantidad, entre otras. 
        p Es pertinente organizar y dotar la comunicación de tal manera que describa ¿qué incluye?, ¿para qué tipo de actor?, ¿cuándo? y ¿cómo?; procurar que el mensaje sea claro para su destinatario, que los métodos sean adaptados a los diferentes públicos y en caso de reuniones que los sitios dedicados a las reuniones permitan que cada uno se sienta cómodo (Terre des Hommes, s.f.).
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img26.jpg", alt="").img-fluid  
        p.mt-5 Finalmente es importante retomar el tema de autogestión, como un proceso de carácter administrativo mediante el cual las personas pertenecientes a la organización establecen los medios y los objetivos a través de la aplicación de herramientas jurídicas bajo los criterios de autonomía, política pública, solidaridad, participación y trabajo comunitario, con el propósito de establecer e implementar de manera adecuada las funciones y realizar las actividades delegadas en los responsables de las áreas de trabajo.
        p En el caso de los acueductos de municipios menores y zonas rurales, la autogestión se ve reflejada en procesos de participación interna, comunitaria y su relacionamiento con actores externos con la intención de generar contribuciones conjuntas en conocimiento, gestión de apoyo financieros e infraestructura y mano de obra para la materialización de proyectos conjuntos con aportes que son conocidos como contrapartidas. El proceso de autogestión se encuentra amparada dentro de la normatividad colombiana, lo que permite el normal funcionamiento de la organización.
        section.mt-5